<section class="photo-gallery-page">
  <p class="breadcrumbs"><a href="<%= h(@trip.public_path) %>">Back to <%= h(@trip.name) %></a></p>
  <header class="gallery-header">
    <p class="kicker">Trip Photos</p>
    <h1>Photos from <%= h(@trip.name) %></h1>
    <p class="lede"><%= h(trip_date_label(@trip)) %></p>
  </header>

  <% if @photos.empty? %>
    <p class="empty">No photos have been added for this hike.</p>
  <% else %>
    <div class="photo-gallery">
      <% @photos.each do |photo| %>
        <a href="<%= h(photo.public_path) %>">
          <img src="<%= h(image_url(photo, "large")) %>" alt="<%= h(photo.caption) %>">
          <% if photo.caption %>
            <span><%= h(photo.caption) %></span>
          <% end %>
        </a>
      <% end %>
    </div>
  <% end %>
</section>
