<article class="photo-page">
  <p class="breadcrumbs"><a href="<%= h(@trip.public_path) %>">Back to <%= h(@trip.name) %></a></p>
  <figure>
    <img src="<%= h(image_url(@photo, "original")) %>" alt="<%= h(@photo.caption) %>">
    <% metadata = photo_metadata_label(@photo) %>
    <% if @photo.caption || !metadata.empty? %>
      <figcaption>
        <% if @photo.caption %><p><%= h(@photo.caption) %></p><% end %>
        <% unless metadata.empty? %><p class="meta"><%= h(metadata) %></p><% end %>
      </figcaption>
    <% end %>
  </figure>
</article>
